*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    background-color:rgb(229, 232, 236);
}
.nav-bar {
    display: flex;
    background-color: rgb(24, 24, 54);
    color: aliceblue;
    align-items: center;
}
.address{
    margin: 0px 20px;
    font-size: 15px;
    font-weight: 100;
}
.address:hover , .sign-in:hover , .returns:hover , .cart:hover , .nav-logo:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.address span+a{
    font-size: 18px;
    color: aliceblue;
}
.address p{
    margin-bottom: 5px;
}
.nav-search{
    display: flex;
}
.search{
    height: 40px;
    width: 40px;
    background-color: rgb(215, 214, 214);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    margin-left: 15px;
}
.search-amz{
    height: 40px;
    width: 560px;
    outline: none;
    color:rgb(215, 214, 214) ;
    padding: 5px;
}
.search-icon{
    height: 40px;
    width: 40px;
    background-color: rgb(223, 177, 61);
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
}
.lan{
    display: flex;
    margin: 0px 20px;
}
.lang{
    background-color:rgb(24, 24, 54) ;
    border: none;
    color: aliceblue;
    width: 50px;
    height: 40px;
}
.sign-in a , .returns a{
    color: aliceblue;
    align-items: center;
}
.sign-in{
    margin-right: 35px;
}
.cart{
    display: flex;
    color: aliceblue;
    align-items: center;
    font-size: 35px;
    margin-left: 25px;
}
.cart p{
    font-size: 25px;
    margin-top: 10px;
}
.nav-menu ul{
    display: flex;
}
.nav-menu {
    display: flex;
    background-color: rgb(49, 49, 83);
    align-items: center;
    padding-left: 20px;
}
.nav-menu a , .nav-menu li{
    color: aliceblue;
    font-size: 15px;
    align-items: center;
    margin: 10px 8px;
    text-decoration: none;
    list-style: none;
}
.nav-menu p{
    margin-left: 100px;
    font-size: 20px;
    color: rgb(205, 209, 214);
}
.banner{
    
        height: 500px;
        background-size: cover;
        position: relative;
        animation: slide 20s infinite linear; 
        background-image: url(images/ban-1.jpg);
        z-index: -1;
}

@keyframes slide{
    0%{ background-image: url(images/ban-1.jpg);}
    20%{ background-image: url(Images/ban-2.jpg);}
    40% {background-image: url(Images/ban-3.jpg); }
    60% {background-image: url(Images/ban-4.jpg); }
    80% {background-image: url(Images/ban-5.jpg); }
    100% {background-image: url(Images/ban-6.jpg); }
  }
/* SECTION-1 STARTS FROM HERE  */
 .row{
    display: flex;
    align-items: center;
    padding: 0px 50px;
}
div[class*="box"]{
    width: 450px;
    height: 450px;
    text-align: center;
    background-color: aliceblue; 
   margin: -15% 0.5% 0% 0.5%;
}
 .col-50 , .col-50-1{
    display: flex;
}
.col-25 , .col-25-1{
    margin: 20px 10px;
}
.col-25 p , .col-25-1{
    font-size: 14px;
    text-align: left;
    color:  rgb(83, 84, 85);
}
.box-1 h1 ,.box-2 h1 , .box-3 h1 , .ab-1 h1 , .ab-2 h1 , .ab-3 h1{
    margin: 10px 0px;
    font-size: 20px;
}
.box-1 h2 , .box-2 h2 , .box-3 h2 , .ab-1 h2 , .ab-2 h2 , .ab-3 h2{
    text-align: left;
    margin: 25px 0px 0px 15px;
    font-size: 15px;
}
.box-1 a , .box-2 a , .box-3 a , .ab-1 a, .ab-2 a , .ab-3 a{
    color:rgb(48, 239, 239);
    text-decoration: none;
}
/* ROW-2 STARTS FROM HERE!!! */
.row-2{
    display: flex;
    align-items: center;
    padding: 0px 50px;
}
div[class*="ab"]{
    width: 450px;
    height: 450px;
    text-align: center;
    background-color: aliceblue; 
    margin:1% 0.5% 0% 0.5%;
}
/* Row-3 STARTS FROM HERE!! */
.row-3 , .row-4{
    /* Property of row-3 and row-4 is given here */
    /* text-align: left; */
    background-color: white;
    margin:1% 0% 0% 0%;
}
.col-20 , .col-80 , .col-20-1 , .col-80-1{
    display: flex;
}
div[class*="groc"] , div[class*="Car"]{
    padding: 15px 30px;
}
.col-20 h2 , .col-20 a , .col-20-1 h2 , .col-20-1 a{
    font-size: 15px;
    color:rgb(48, 239, 239) ;
    padding: 18px 0px 0px 10px;
    text-decoration: none;
}
.col-20 h1 , .col-20-1 h1{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 15px;
}
/* Row-5 starts from here!! */
.row-5{
    text-align: center;
    align-items: center;
    padding: 40px 0px 20px 0px;
    background-color: white;
    margin:1% 0% 0% 0%;
}
.row-5 p{
    margin: 10px 0px;
}
.row-5 h4{
    font-weight: 300;
    margin: 10px 0px;
}
.row-5 a{
    font-size: 13px;
    color:rgb(48, 239, 239) ;
    text-decoration: none;
    margin-left: 5px;
}
.sign{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(247, 191, 89);
    font-size: 13px;
    font-weight: bold;
    border-color: orange;
}
.row-5-wrap{
    border: 1px solid rgb(229, 220, 220);
    border-radius: 5px;
    padding: 30px 0px;
}
/* Footer starts from here!!! */
.footer-title  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 57, 90);
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 15px;
  }
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background:rgb(27, 36, 54);
  }
  .footer-items h3 {
    font-size: 17px;
    font-weight: 500;
    color:white;
    margin: 20px 0 10px 0;
  }
  .footer-items ul {
    list-style: none;
    margin-bottom: 100px;
  }
  .footer-items li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
  }