* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px aliceblue; */
}

body {
    background-color: rgb(35, 33, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

.main {
    background-image: url(images/netfliex.jpg);
    width: 100%;
    opacity: 0.7;
}

.lang {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 6px;
    border-radius: 10px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.2);
}

#language {
    padding-bottom: -5px;
    background: transparent;
    border: none;
    color: white;
    /* outline: 0; */
}

#language:focus{
    outline: 0;
}

.sign-in {
    width: 80px;
    height: 37px;
    background-color: rgb(216, 46, 40);
    color: white;
    font-weight: 300;
    border: solid 1px rgb(216, 46, 40);
    border-radius: 10px;
    text-align: center;
    padding: 9px 3px 0px 0px;
    margin-left: 30px;
    font-size: 15px;
    cursor: pointer;
}

.logo {
    padding: 25px 0px 0px 60px;
}

nav {
    padding: 13px 0px 100px 100px;
}

.nav-menu {
    z-index: -1;
    display: flex;
    float: right;
    margin: -40px 100px 0px 0px;
}

.main-text {
    text-align: center;
    padding-top: 50px;
}

.main-text-cover {
    padding-bottom: 70px;
}

.main-text-cover h1 {
    font-size: 75px;
    margin: 0px 50px;
}

.main-text-cover h3 {
    margin: 20px 0px 25px 0px;
    font-size: 30px;
    font-weight: 200;
}

.main-text-cover p {
    margin-bottom: 10px;
    font-size: 25px;
}

.email-input {
    width: 550px;
    height: 60px;
    background: transparent;
    font-size: 18px;
    padding-left: 10px;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    background-color: black;
    opacity: 0.6;
    margin: 20px 0px 100px 0px;
    outline: none;
}

.email-input::placeholder{
    color: aliceblue;
}

.start-button {
    width: 200px;
    height: 60px;
    background-color: rgb(216, 46, 40);
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding-bottom: 5px;
}

/* SECTION-1 STARTS FROM HERE!!! */
.row {
    padding: 90px 80px 90px 40px;
    display: flex;
    align-items: center;
}

.col-50-1 {
    padding-left: 60px;
    text-align: left;
}

.col-50-1 h1 {
    font-size: 55px;
    padding-left: 100px;
}

.col-50-1 p {
    font-size: 25px;
    padding: 20px 0px 0px 100px;
}

.col-50-2 {
    padding-right: 100px;
}

/* SECTION-2 STARTS FROM HERE!!! */
.col-50-1-1 {
    padding-left: 100px;
}

.col-50-2-1 {
    padding-right: 100px;
}

.col-50-2-1 h1 {
    font-size: 55px;
    padding-right: 100px;
}

.col-50-2-1 p {
    font-size: 25px;
    padding: 20px 100px 0px 0px;
}

/* SECTION-5 STARTS FROM HERE!!! */
.section {
    margin-top: 10px;
    background-color: black;
}

.main-text-1 h1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 80px 0px 50px 0px;
}

.box-1 {
    text-align: center;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-5,
.btn-6 {
    margin-top: 5px;
    align-items: center;
    width: 1150px;
    height: 80px;
    background-color: rgb(33, 33, 33);
    border: none;
    text-align: left;
    color: aliceblue;
    font-size: 25px;
    padding-left: 25px;
    border-radius: 5px;
}

.plus {
    font-size: 70px;
    position: absolute;
    right: 200px;
    cursor: pointer;
}

.box-contain,
.box-contain-1,
.box-contain-2,
.box-contain-3,
.box-contain-4,
.box-contain-5 {
    display: none;
}

.section-wrapper {
    text-align: center;
}

.section-wrapper p {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding: 40px;
}

/* FOOTER STARTS FROM HERE!!! */
footer{
    margin-top: 5px;
    background-color: black;
    padding: 0px 100px 0px 0px;
}
.row-1{
    display: flex;
    padding: 25px 100px 60px 30px;
}
.heading p {
    padding: 100px 0px 0px 100px;
    font-size: 20px;
    color: white;
    text-align: left;
}
.col-25 ul{
    list-style: none;
}
.col-25 ul li{
    margin: 0px 50px 20px 0px;
}
.col-25 ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.col-25 .lang{
    margin-right: 13px;
}